@using BbQ.ChatWidgets.Models
@using BbQ.ChatWidgets.Sample.Shared
@using Microsoft.AspNetCore.Components

<div class="sample-widget-renderer">
    @if (Widget != null)
    {
        <WidgetRenderer Widget="Widget" OnAction="OnAction">
            <Overrides>
                <WidgetOverride Type="typeof(EChartsWidget)" Template="typeof(EChartsWidgetComponent)" />
                @* <WidgetOverride Type="typeof(ClockWidget)" Template="typeof(ClockWidgetComponent)" /> *@
                <WidgetOverride Type="typeof(WeatherWidget)" Template="typeof(WeatherWidgetComponent)" />
            </Overrides>
        </WidgetRenderer>
    }
</div>

@code {
    [Parameter]
    public ChatWidget? Widget { get; set; }

    [Parameter]
    public EventCallback<(string Action, object? Payload)> OnAction { get; set; }
}
