@using BbQ.ChatWidgets.Models
@using Microsoft.AspNetCore.Components

<div class="bbq-widget-renderer">
    @if (Widget != null)
    {
        @switch (Widget)
        {
            case ButtonWidget buttonWidget:
                <ButtonWidgetComponent Widget="buttonWidget" OnAction="OnAction" />
                break;
            case CardWidget cardWidget:
                <CardWidgetComponent Widget="cardWidget" OnAction="OnAction" />
                break;
            case InputWidget inputWidget:
                <InputWidgetComponent Widget="inputWidget" OnAction="OnAction" />
                break;
            case TextAreaWidget textAreaWidget:
                <TextAreaWidgetComponent Widget="textAreaWidget" OnAction="OnAction" />
                break;
            case DropdownWidget dropdownWidget:
                <DropdownWidgetComponent Widget="dropdownWidget" OnAction="OnAction" />
                break;
            case SliderWidget sliderWidget:
                <SliderWidgetComponent Widget="sliderWidget" OnAction="OnAction" />
                break;
            case ToggleWidget toggleWidget:
                <ToggleWidgetComponent Widget="toggleWidget" OnAction="OnAction" />
                break;
            case FileUploadWidget fileUploadWidget:
                <FileUploadWidgetComponent Widget="fileUploadWidget" OnAction="OnAction" />
                break;
            case DatePickerWidget datePickerWidget:
                <DatePickerWidgetComponent Widget="datePickerWidget" OnAction="OnAction" />
                break;
            case MultiSelectWidget multiSelectWidget:
                <MultiSelectWidgetComponent Widget="multiSelectWidget" OnAction="OnAction" />
                break;
            case ProgressBarWidget progressBarWidget:
                <ProgressBarWidgetComponent Widget="progressBarWidget" />
                break;
            case ThemeSwitcherWidget themeSwitcherWidget:
                <ThemeSwitcherWidgetComponent Widget="themeSwitcherWidget" OnAction="OnAction" />
                break;
            case FormWidget formWidget:
                <FormWidgetComponent Widget="formWidget" OnAction="OnAction" />
                break;
            case ImageWidget imageWidget:
                <ImageWidgetComponent Widget="imageWidget" OnAction="OnAction" />
                break;
            case ImageCollectionWidget imageCollectionWidget:
                <ImageCollectionWidgetComponent Widget="imageCollectionWidget" OnAction="OnAction" />
                break;
            default:
                <div class="bbq-widget-unknown">
                    <p>Unknown widget type: @Widget.GetType().Name</p>
                </div>
                break;
        }
    }
</div>

@code {
    [Parameter]
    public ChatWidget? Widget { get; set; }

    [Parameter]
    public EventCallback<(string Action, object? Payload)> OnAction { get; set; }
}
