name: NPM Validation

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - 'js/**'
  push:
    branches: [ "master" ]
    paths:
      - 'js/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: js

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: npm ci

    - name: Build
      run: npm run build

    - name: Test
      run: npm test
